$color-grey-light: rgba(0, 0, 0, 0.123);
$color-grey-m-light: rgba(241, 241, 241, 0.568);
$color-grey-m-dark: rgba(77, 77, 77, 0.568);
$color-grey-dark: rgb(77, 77, 77);

$color-primary: #18728b;
$color-primary-hover: #18728bd0;

$color-secondary: #61dafbd2;
$color-secondary-hover: #61dafb83;

$color-offwhite: rgb(220, 226, 226);

$white: #fff;
$black: #000;

$largest: 68.75em; // 1100px
$large: 56.25em; // 900px
$medium: 43.75em; // 700px
$small: 33.75em; // 540px
$mobile: 25em; // 400px
